@import 'tippy.js/dist/tippy.css';

[x-cloak] {
    display: none !important;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #000;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ui {
    position: fixed;
    inset: 0;
    pointer-events: none;

    & * {
        pointer-events: all;
    }

    input {
        border-radius: 0.2rem;
        border: 2px #ccc solid;
        padding: 0.2rem;
        font-size: 1rem;
        width: 100%;
    }

    button {
        $depth: 7px;
        background-color: #abdd64;
        font-size: 0.9rem;
        font-weight: 700;
        color: #000;
        border: #fcef8d 2px solid;
        border-radius: 0.5rem;
        padding: 0.3rem;
        cursor: pointer;
        box-shadow: 0px $depth 0px #5ba675;
        transition: background-color 0.4s ease,
            box-shadow 0.4s ease,
            transform 0.4s ease;

        &:hover {
            background-color: hsl(85, 74%, 69%);
            transform: translateY($depth);
            box-shadow: 0px 0px 0px #5ba675;
            transition: background-color 0.4s ease,
                box-shadow 0.4s ease,
                transform 0.4s ease;
        }
    }

    .rows {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        width: 100%;

    }

    .columns-two {
        display: flex;
        gap: 0.2rem;
        width: 100%;
    }

    .max-min {
        max-width: 512px;
    }

    .pin-lb {
        position: absolute;
        left: 1rem;
        bottom: 1rem;
    }

    .pin-rb {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
    }

    .window {
        position: absolute;
        background-color: #20252e;
        top: 5%;
        left: calc(100% - 250px - 2rem);
        color: #fff;
        border-radius: 1rem;
        box-shadow: 0 2px 5px rgba(#000000, 0.5);
        max-width: 250px;
        width: 100%;

        &.window-closed {
            overflow: hidden;
        }

        .window-minimize {
            position: absolute;
            top: -0.25rem;
            right: 1rem;
            padding: 0.25rem;
            border: none;
            background: none;
            color: #fff;
            font-size: 1.3rem;
            margin: 0;
            box-shadow: none;
            transform: none;
        }

        .window-header {
            background-color: hsl(219, 18%, 10%);
            padding: 0.4rem 0.5rem;
            font-weight: 700;
            font-size: 0.85rem;
            text-align: center;
            user-select: none;
            cursor: move;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
        }

        .window-content {
            padding: 0.75rem;
            display: flex;
            flex-direction: column;
            overflow: hidden;
        }


        table {
            table-layout: fixed;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: #fff 1px solid;
            padding: 0.2rem 0.75rem;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        th {
            background-color: #2a303c;
            user-select: none;
        }

        tr {
            margin: 0;
        }
    }

}

.tippy-box {
    background-color: #20252e;
}

.tippy-arrow {
    color: #20252e;
}